vti_encoding:SR|utf8-nl
vti_author:SR|MACHINE-PC\\machine
vti_modifiedby:SR|MACHINE-PC\\machine
vti_timelastmodified:TR|27 Nov 2016 21:53:20 -0000
vti_timecreated:TR|25 Nov 2016 14:40:21 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Competitive\\ Events.html Attractions.html template/Master\\ website\\ templates/Attractions.dwt General\\ Information.html template/Untitled_2.dwt Volunteer.html template/Master\\ website\\ templates/log_in.dwt template/slider.dwt template/Master\\ website\\ templates/log_in.html Contact\\ Us.html template/Untitled_1.dwt log_in.html template/index.dwt template/Master\\ website\\ templates/index.dwt template/Master\\ website\\ templates/General\\ Information.html template/Master\\ website\\ templates/Competitive\\ Events.dwt template/Master\\ website\\ templates/General\\ Information.dwt template/Master\\ website\\ templates/Volunteer.dwt index.html template/Master\\ website\\ templates/Contact\\ Us.dwt
vti_nexttolasttimemodified:TW|27 Nov 2016 21:52:24 -0000
vti_syncwith_localhost\\c\:\\users\\machine\\desktop\\scottish festival work in progress\\template\\master website templates/c\:/users/machine/desktop/scottish festival work in progress/template/master website templates:TR|27 Nov 2016 21:53:19 -0000
vti_cacheddtm:TX|27 Nov 2016 21:53:20 -0000
vti_filesize:IR|1697
